<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gajwa_businfo_manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gajwa_businfo_manager.Properties.Settings>
            <setting name="monday_str" serializeAs="String">
                <value>3:50-5:00</value>
            </setting>
            <setting name="tuesday_str" serializeAs="String">
                <value>4:50-6:00</value>
            </setting>
            <setting name="wednesday_str" serializeAs="String">
                <value>3:50-5:00</value>
            </setting>
            <setting name="thursday_str" serializeAs="String">
                <value>4:50-6:00</value>
            </setting>
            <setting name="friday_str" serializeAs="String">
                <value>3:50-5:00</value>
            </setting>
            <setting name="saturday_str" serializeAs="String">
                <value />
            </setting>
            <setting name="sunday_str" serializeAs="String">
                <value />
            </setting>
        </gajwa_businfo_manager.Properties.Settings>
    </userSettings>
</configuration>